<% layout('layout/template') %>
<link
  rel="stylesheet"
  href="/stylesheets/app.css"
/>

<div
  id="carouselExampleIndicators"
  class="carousel slide"
>
  <div class="cover-container">
    <!-- data-bs-ride="carousel" -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image bg-img-1 active">
        <div
          class="carousel-caption d-none d-md-block mx-auto p-2"
          style="height: 450px"
        >
          <h2>Welcome to WhatsCooking</h2>
        </div>

        <!-- <img
          src="/javascript/breakfast1.jpg"
          class="d-block w-100"
          alt="..."
        /> -->
      </div>
      <div class="carousel-item carousel-image bg-img-2">
        <div
          class="carousel-caption d-none d-md-block mx-auto p-2"
          style="height: 450px"
        >
          <h2>Check out our many recipes</h2>
        </div>
        <!-- <img
          src="/javascript/turkeysandwich.jpg"
          class="d-block w-100"
          alt="..."
        /> -->
      </div>
      <div class="carousel-item carousel-image bg-img-3">
        <div
          class="carousel-caption d-none d-md-block mx-auto p-2"
          style="height: 450px"
        >
          <h2>Feel free to share your favorite recipes</h2>
        </div>
        <!-- <img
          src="/javascript/chickenparm.jpg"
          class="d-block w-100"
          alt="..."
        /> -->
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div />
    <!-- </div> -->
  </div>
</div>
